// Define variables for your color scheme

// For example:
$pink: #EF7F7A;
$blue: #293865;
$light-pink: #D1ACA7;
$dark-pink: #B3746D;
$cherry: #8C1342;
$bright-blue: #2C5E7C;
$light-blue: #809EB0;
$very-light-blue: #ABBFCB;
