.onglets_candidate {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: white;
  padding: 30px 20px;
  width: 100%;
  box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);
}




.cards_tasks {
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}


.reviews {
  padding: 40px;
  background: #FFFFFF;

  border-radius: 25px;
  border: 2px solid $blue;
  width: 30%;
  margin-top: 20px;;
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 50px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: #1EDD88;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}
