.onglets_project {
  background-color: white;
  width: 65%;
  box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 40px;
  margin: 50px auto 60px auto;
}
.cards_tasks {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px !important;
}
