<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.lepoint.fr/images/2016/04/27/3717083lpw-3717126-article-intermittents-du-spectacle-regime-jpg_3517167_1250x625.jpg);">
  <div class="container">
    <h1>Intermittent brings <strong>visibility</strong> to <strong>to the intermittent market</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "Join our community", new_user_session_path, class: "btn btn-flat" %>
  </div>
</div>
