<div class="container">

  <div class="d-flex flex-column">

    <div class="d-flex justify-content-around align-items-center custom-banner">
      <div class="banner-left">
          <h1>Intermittent brings visibility to the intermittent market!</h1>
          <h4> Recruiting has never been easier.</h4>
          <%= link_to "Join us", new_user_session_path, class: "btn btn-gradient" %>
      </div>

      <div class="banner-right">
        <img class= "card_image_home" src="https://cdn.danceplug.com/sites/default/files/images/articles/SecondAnnualPalmSpring-hero-opt.jpg" alt="danseurshome">
      </div>
    </div>

    <div class="d-flex justify-content-evenly"> 2eme ligne
      <div>
      </div>

      <div>
      </div>

      <div>
      </div>
    </div>

  </div>
</div>
