.btn-details {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

.btn-edit{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}
.btn-archive{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}
.btn-search{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}
.btn-update{

}
// .btn-details{

// }
// .btn-details{

// }
// .btn-details{

// }
// .btn-details{

// }
// .btn-details{

// }
// .btn-details{

// }
// .btn-details{

// }
