.card_profile_project{
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
  background: #ABBFCB;
  box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);
  margin-right: 70px;
  margin-top: 60px;
  display: flex;
  font-family: 'Nunito', sans-serif;
  margin-right: 70px;
  margin-top: 60px;
  border-radius: 40px;


  h1{
    font-family: 'nunito';
    font-weight: 800;
    font-size: 58px;
    line-height: 79px;
    text-align: center;
    color: $blue;
  }

   h2{
    font-family: 'Nunito';
    font-style: bold;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffff;
    text-transform: uppercase;
   }

    p{
    font-family: 'Nunito';
    font-style: bold;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    }

    .btn-edit {
      margin-bottom: 20px;
    }

    .btn-archive {
      margin-bottom: 20px;
    }

}






// .card_profile_candidate {
//   display: flex;
//   flex-direction: column;
//   width: 400px;
//   background: $blue;
//   box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);
//   align-items: center;
//   justify-content: center;
//   font-family: 'Nunito', sans-serif;
//   margin-right: 70px;
//   margin-top: 60px;
//   border-radius: 40px;

// img {
//   border-radius: 50%;
//   width: 140px;
//   height: 140px;
//   margin: 45px auto;
// }

// h1 {
//   font-size: 31px;
//   font-weight: 700;
//   text-align: center;
//   color: white;
//   line-height: 40px;
// }

// h3 {
//   font-size: 22px;
//   text-align: center;
//   color: white;
//   font-weight: 900;
//   line-height: 45px;
// }

// h4 {
//   font-size: 18px;
//   text-align: center;
//   color: white;
//   font-weight: 900;
//   line-height: 45px;
//   font-style: italic;

// }

// h6 {
//   color: $pink;
//   text-align: center;
//   font-size: 25px;
//   font-weight: 300;
//   font-style: italic;
//   line-height: 50px;
// }

// a {
//   text-align: center;
// }

// .btn-edit {
//   margin-bottom: 20px;
// }
// }
