.new_candidate {
  width: 100%;
  background-color: white;
  margin-top: 60px;
  margin-bottom: 60px;



}

.card_new_task{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $pink;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  height: 38px;
  font-family: "nunito";
  font-style: bold;
  color: $blue;
  border-radius: 20px;


  .task_start_date {
    margin-left: 40px;
    margin-top: 16px;
    display: flex;
    width: 300px;
    align-items: center;
  }

  .task_end_date {
    margin-left: 40px;
    margin-top: 16px;
    display: flex;
    width: 300px;
    align-items: center;

  }

  input {
    background: $pink;
    border: none;
  }

  .form-label {
    margin: auto;
  }

  .btn-new-task {
    background-color: $blue;
    border-style: none;
    border-radius: 0px 20px 20px 0px;
    color: white;
    height: 38px;


  }


}
