.card_project{
  position: absolute;
  padding: 35px 25px 25px 10px ;
  background: #FFFFFF;
  box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  border: 2px solid $blue;
  width: 250px;
  height: 350px;
}
