.new_candidate {
  width: 100%;
  display: block;

  .experiences{
    background-color: white;
  }

}

.card_new_task{
  margin-top: 60px;
  background: $pink;
  width: 200px;
  height: 250px;
  text-align: center;
  padding: 20px;
  font-family: "nunito";






}
