.chatroom {
  background: #D1ACA7;
  margin-top: 50px;
  margin-bottom: 50px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  // border: 1px solid !important;
  // border-color: #1E2A51 !important;
  border-radius: 40px;
  box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);
  padding: 10px 50px 40px 50px;
  border-radius: 20px;
      width: 70%;


  h1 {
    padding: 1rem;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #1E2A51;
    letter-spacing: 1px;
    line-height: 36px;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1.5rem;
    background-color: white;
    border-radius: 20px;

  }

  .btn-closeee {
    color: #1E2A51;
    text-decoration: none;
    height: 22px;
    width: 22px;
    margin-top: 10px;

}
.btn-closeee:hover {
  color: white ;
  text-decoration: none;
}

  // .mess-border {
  //   border-bottom: 1px solid #EBEAEA;
  // }

  #new_message {
    // border-top: 1px solid $bright;
    padding-top: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  p{
    font-size: 15px;
    font-family:'nunito';
    color: $blue;
    font-weight: 400;
  }
}

input.btn.btn-primary.mb-3{
  background-color: #1E2A51;
  margin-left: 15px;
  height: 62px;
  width: 66px;
  border-radius: 20px;
  font-family: 'nunito';
  font-size: 15px;
  font-weight: 700;
  color: #D1ACA7;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.input.btn.btn-primary.mb-3:hover{
  color: white !important;
  background-color: #D1ACA7;
  text-decoration: none;
}

textarea#message_content{
  border: 1px solid !important;
  border-color: white !important;
  border-radius: 20px;
  font-family: 'nunito';
  font-size: 16px;
}

#mcand {
  color: $pink;
  font-family: "roboto";
  font-weight: 900;
  font-size: 12px;
}

#mcomp {
  color: $light-blue;
  font-family: "roboto";
  font-weight: 900;
  font-size: 12px;
}
