.chatroom {
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  // border: 1px solid !important;
  // border-color: #1E2A51 !important;
  border-radius: 40px;
  box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.2);
  padding: 40px 80px 80px 80px;

  h1 {
    // border-bottom: 1px solid $pink;
    margin-bottom: 20px;
    padding: 1rem;
    font-size: 50px;
    font-family: 'Roboto';
    line-height: 52px;
    font-weight: 400;
    color: #1E2A51;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    border-top: 1px solid $pink;
    border-left: 1px solid $pink;;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

input.btn.btn-primary.mb-3{
  background-color: #1E2A51 !important;
  margin-left: 20px;
}

textarea#message_content{
  border: 1px solid !important;
  border-color: #1E2A51 !important;
}

#mcand {
  color: $pink;
}

#mcomp {
  color: #1E2A51;
}
