.footer {
  background: #1E2A51 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 80px !important;
  padding: 0px 50px !important;
  color: #FFFFFF !important;
}
.footer-links {
  display: flex !important;
  align-items: center !important;
}
.footer-links a {
  color: #FFFFFF !important;
  text-decoration: none !important;
  font-size: 24px !important;
  padding: 0px 10px !important;
}
.footer-links a:hover {
  color: $pink !important;
}
.footer .fa-heart {
  color: $pink !important;
}

.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
}
