.navbar-lewagon {
  justify-content: space-between;
  background: #1E2A51;
  font-size: 15px;
  font-family: 'Nunito';
  font-weight: 300;
  letter-spacing: 0.04em;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

// .nav-item > .nav-link {
//   color: #FFFFFF !important;
// }

// .nav-item > .nav-link:hover{
//   color: $pink !important;
// }

}

button#messageDropdown {
  background-color: #1E2A51;
  border: none;
  color: #FFFFFF;
  margin-top: 7px;
  margin-right: 8px;
}

button#messageDropdown:hover{
  color: $pink !important;
}

.dropdown-toggle::after {
  display: none;
}

